div.row
  div.span12.header-image
    img(src="#{headerImage.url}")
    p.pull-right image by 
      a(href="#{headerImage.srcUrl}") #{headerImage.srcAuthor}
div.hero-unit
  ul
      each meeting, index in meetings
        li 
          a(href="/meeting/#{meeting.id}") #{shortDate(meeting.time)} : #{meeting.name}

div.row.detail-unit
  div.span4
    include shared/widgets/details 
  div.span4
    include shared/widgets/location
  div.span4
    include shared/widgets/sponsors

hr
footer
  p &copy OlyNode 2012